*{
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.re-red{
    color: red;
}

.main-div{
    max-width: 60%;
    margin: 0% auto;
}

.main-heading{
    font-size: 20px;
}

.text-class{

}

.txt-inp{
    width: 60%;
    padding: 5px;
}
.text-inp{
    margin-bottom: 2%;
}

.txt-inp-d{
    width: 30%;
    padding: 5px;
}